<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iot.web.mapper.TestMapper">

	<resultMap type="com.iot.web.domain.TestDTO"
		id="attachResultMap">
		
		<id property="dataCd" column="DATA_CD" /> 
		<result property="data1" column="DATA1" />
		<result property="data2" column="DATA2" />
		<result property="data3" column="DATA3" />
		<result property="sensorCd" column="SENSOR_CD" />
	</resultMap>

	<insert id="insertData">
		INSERT INTO TEST_DATA (
			DATA_CD
		  , DATA1
		  , DATA2
		  , DATA3
		  , SENSOR_CD
	    )
		VALUES (
			TEST_DATA_SEQ.NEXTVAL
		  , #{data1}
		  , #{data2}
		  , #{data3}
		  , #{sensorCd}
	    )
	</insert>

	
	<select id="retrieveAllData" resultMap="attachResultMap">
		SELECT * FROM TEST_DATA
	</select>
	

</mapper>



