<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iot.web.mapper.UserBoardMapper">

    <!-- DTO 매핑 -->
    <resultMap id="productResultMap" type="com.iot.web.domain.ProductInfoDTO">
        <id property="productId" column="PRODUCT_ID"/>
        <result property="sellerId" column="SELLER_ID"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="price" column="PRICE"/>
        <result property="minTemperature" column="MIN_TEMPERATURE"/>
        <result property="maxTemperature" column="MAX_TEMPERATURE"/>
        <result property="minHumidity" column="MIN_HUMIDITY"/>
        <result property="maxHumidity" column="MAX_HUMIDITY"/>
    </resultMap>

   
		  <!-- 1. 전체 상품 조회 -->
    <select id="selectProductList" resultMap="productResultMap">
        SELECT *
        FROM PRODUCT_INFO
        ORDER BY PRODUCT_ID
    </select>

    <!-- 2. PRODUCT_ID로 단일 상품 조회 -->
    <select id="selectProductById" parameterType="Integer" resultMap="productResultMap">
        SELECT *
        FROM PRODUCT_INFO
        WHERE PRODUCT_ID = #{productId}
    </select>

</mapper>
